<p>Grant access to <%= client.displayName %>?</p>
<p>Scope: <%= scope.join(',') %></p>

<form action="/consent" method="post">
	<div>
  <input type="hidden" name="client_id" value="<%= client.id %>"/>
  <% if (typeof state !== 'undefined') { %>
    <input type="hidden" name="state" value="<%= state %>"/>
  <% } %>
	<input type="submit" value="Allow"/>
  <input type="submit" name="cancel" value="Deny"/>
	</div>
</form>
